@font-face {
  font-family: "iconfont"; /* Project id 3544917 */
  src: url('iconfont.woff2?t=1662969336820') format('woff2'),
       url('iconfont.woff?t=1662969336820') format('woff'),
       url('iconfont.ttf?t=1662969336820') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yduishangyiqu:before {
  content: "\e60b";
}

.icon-yduixiayiqu:before {
  content: "\e611";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-24gl-repeatOnce2:before {
  content: "\ea75";
}

.icon-zanting:before {
  content: "\e613";
}

.icon-random:before {
  content: "\ea7c";
}

.icon-shunxubofang:before {
  content: "\e6a1";
}

.icon-bell-fill:before {
  content: "\e6c3";
}

.icon-check-circle-fill:before {
  content: "\e6c4";
}

.icon-close-circle-fill:before {
  content: "\e6c5";
}

.icon-crown-fill:before {
  content: "\e6c6";
}

.icon-dropbox:before {
  content: "\e6c7";
}

.icon-heart-fill:before {
  content: "\e6c8";
}

.icon-flag-fill:before {
  content: "\e6c9";
}

.icon-home-fill:before {
  content: "\e6ca";
}

.icon-layout-fill:before {
  content: "\e6cb";
}

.icon-menu:before {
  content: "\e6cc";
}

.icon-notification-fill:before {
  content: "\e6cd";
}

.icon-plus:before {
  content: "\e6ce";
}

.icon-plus-circle-fill:before {
  content: "\e6cf";
}

.icon-right-arrow:before {
  content: "\e6d0";
}

.icon-search:before {
  content: "\e6d1";
}

.icon-scan:before {
  content: "\e6d2";
}

.icon-share:before {
  content: "\e6d3";
}

.icon-setting-fill:before {
  content: "\e6d4";
}

.icon-sound-fill:before {
  content: "\e6d5";
}

.icon-tag-fill:before {
  content: "\e6d6";
}

.icon-user:before {
  content: "\e6d7";
}

.icon-guanli:before {
  content: "\e6d8";
}

.icon-shouquan:before {
  content: "\e6d9";
}

.icon-star:before {
  content: "\e6da";
}

.icon-xuanzhong:before {
  content: "\e6db";
}

.icon-heart:before {
  content: "\e6dc";
}

.icon-erweima:before {
  content: "\e6dd";
}

.icon-pijiu:before {
  content: "\e662";
}

.icon-longxia:before {
  content: "\e6bc";
}

.icon-zhaji:before {
  content: "\e60c";
}

