<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单元素绑定</title>
</head>

<body>
    <div id="app">
        <!-- 表单元素的绑定是一个双向绑定的过程 -->
        <input type="text" v-model="userName">
        <h2>{{userName}}</h2>
        <input type="range" v-model="age">{{age}}
        <h2>{{age>=18?"你成年了":"你未成年"}}</h2>
    </div>
</body>
<script src="./js/vue.global.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                userName: "张珊123",
                age: 18
            }
        }
    }).mount("#app");
</script>

</html>