//混合
//我们经常会发现一个问题，在写CSS的时候，有很多代码都是相同的

//将上面的代码定义成混合器
@mixin circle {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: linear-gradient(to right, red, blue);
}

.box1 {
    color: black;
    font-size: 32px;
    @include circle();
}

.box2{
    display: flex;
    justify-content: center;
    @include circle();
}